:root {
    --size: 40px
}

* {
    font-family: consolas, "Courier New", monospace;
}

#board {
    user-select: none;
}

.cell {
    min-width: var(--size);
    min-height: var(--size);
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--size) * 0.65);
    font-weight: bold;
}

.table {
    display: flex;
}

.top {
    margin: 3px 6px
}

input {
    width: 100px;
}